# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

out
.idea
# production
build
dist

# env files (can opt-in for committing if needed)
.env*
!.env.example

# typescript
*.tsbuildinfo

# tanstack router
.tanstack
